[submodule "external/picorv32"]
	path = external/picorv32
	url = https://github.com/cliffordwolf/picorv32
[submodule "external/riscv-chisel-book"]
	path = external/riscv-chisel-book
	url = https://github.com/chadyuu/riscv-chisel-book
