IO_LOC "clock" E2;
IO_PORT "clock" IO_TYPE=LVCMOS33;
IO_LOC "reset_button" H11;
IO_PORT "reset_button" PULL_MODE=DOWN IO_TYPE=LVCMOS33;
IO_LOC "uart_tx" C3
//IO_LOC "uart_tx" K2
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;

IO_LOC "aux_ch_received" H8
IO_PORT "aux_ch_received" IO_TYPE=LVCMOS25;

IO_PORT "ml_lane_0_p" PULL_MODE=NONE IO_TYPE=LVDS25 DRIVE=6;
IO_PORT "ml_lane_1_p" PULL_MODE=NONE IO_TYPE=LVDS25 DRIVE=6;
IO_PORT "ml_lane_2_p" PULL_MODE=NONE IO_TYPE=LVDS25 DRIVE=6;
IO_PORT "ml_lane_3_p" PULL_MODE=NONE IO_TYPE=LVDS25 DRIVE=6;
IO_PORT "aux_ch_p" IO_TYPE=LVDS25 DRIVE=6;
IO_PORT "hotplug" PULL_MODE=NONE IO_TYPE=LVCMOS25;
