IO_LOC "clock" 45;
IO_PORT "clock" IO_TYPE=LVCMOS33;

IO_LOC "tmds_clk_p" 28,27;
IO_LOC "tmds_data_p[0]" 30,29;
IO_LOC "tmds_data_p[1]" 32,31;
IO_LOC "tmds_data_p[2]" 35,34;
IO_PORT "tmds_clk_p"     PULL_MODE=NONE IO_TYPE=LVCMOS25D DRIVE=8;
IO_PORT "tmds_data_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS25D DRIVE=8;
IO_PORT "tmds_data_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS25D DRIVE=8;
IO_PORT "tmds_data_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS25D DRIVE=8;
