IO_LOC "clock" 4;
IO_PORT "clock" IO_TYPE=LVCMOS33;
// IO_LOC "resetn" 58;
// IO_PORT "resetn" IO_TYPE=LVCMOS33;

// IO_LOC "seg_a" 138;
// IO_LOC "seg_b" 142;
// IO_LOC "seg_c" 9;
// IO_LOC "seg_d" 11;
// IO_LOC "seg_e" 12;
// IO_LOC "seg_f" 139;
// IO_LOC "seg_g" 8;
// IO_LOC "seg_dp" 10;
// IO_LOC "seg_dig1" 137;
// IO_LOC "seg_dig2" 140
// IO_LOC "seg_dig3" 141;
// IO_LOC "seg_dig4" 7;
// 
// IO_PORT "seg_a" IO_TYPE=LVCMOS33;
// IO_PORT "seg_b" IO_TYPE=LVCMOS33;
// IO_PORT "seg_c" IO_TYPE=LVCMOS33;
// IO_PORT "seg_d" IO_TYPE=LVCMOS33;
// IO_PORT "seg_e" IO_TYPE=LVCMOS33;
// IO_PORT "seg_f" IO_TYPE=LVCMOS33;
// IO_PORT "seg_g" IO_TYPE=LVCMOS33;
// IO_PORT "seg_dp" IO_TYPE=LVCMOS33;
// IO_PORT "seg_dig1" IO_TYPE=LVCMOS33;
// IO_PORT "seg_dig2" IO_TYPE=LVCMOS33;
// IO_PORT "seg_dig3" IO_TYPE=LVCMOS33;
// IO_PORT "seg_dig4" IO_TYPE=LVCMOS33;
// 
// // KEYS
// IO_LOC "key_5" 62
// IO_LOC "key_6" 63
// IO_LOC "key_7" 64
// IO_LOC "key_8" 65
// IO_PORT "key_5" IO_TYPE=LVCMOS33;
// IO_PORT "key_6" IO_TYPE=LVCMOS33;
// IO_PORT "key_7" IO_TYPE=LVCMOS33;
// IO_PORT "key_8" IO_TYPE=LVCMOS33;

IO_LOC "led_out[0]" 23;
IO_LOC "led_out[1]" 24;
IO_LOC "led_out[2]" 25;
IO_LOC "led_out[3]" 26;
IO_LOC "led_out[4]" 27;
IO_LOC "led_out[5]" 28;
IO_LOC "led_out[6]" 29;
IO_LOC "led_out[7]" 30;
IO_PORT "led_out[0]" IO_TYPE=LVCMOS33;
IO_PORT "led_out[1]" IO_TYPE=LVCMOS33;
IO_PORT "led_out[2]" IO_TYPE=LVCMOS33;
IO_PORT "led_out[3]" IO_TYPE=LVCMOS33;
IO_PORT "led_out[4]" IO_TYPE=LVCMOS33;
IO_PORT "led_out[5]" IO_TYPE=LVCMOS33;
IO_PORT "led_out[6]" IO_TYPE=LVCMOS33;
IO_PORT "led_out[7]" IO_TYPE=LVCMOS33;
