IO_LOC "clock" 52;
IO_PORT "clock" IO_TYPE=LVCMOS33;

IO_LOC  "led[0]" 10;
IO_LOC  "led[1]" 11;
IO_LOC  "led[2]" 13;
IO_LOC  "led[3]" 14;
IO_LOC  "led[4]" 15;
IO_LOC  "led[5]" 16;
IO_PORT "led[0]" IO_TYPE=LVCMOS18;
IO_PORT "led[1]" IO_TYPE=LVCMOS18;
IO_PORT "led[2]" IO_TYPE=LVCMOS18;
IO_PORT "led[3]" IO_TYPE=LVCMOS18;
IO_PORT "led[4]" IO_TYPE=LVCMOS18;
IO_PORT "led[5]" IO_TYPE=LVCMOS18;
